<!-- <p>home works!</p> -->
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Your Own<br><span>Event</span> Planner</h1>
      <p class="mb-4 pb-0">Let's Plan Your Next Event</p>
      <a href="" target="_blank" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="https://github.com/AhmedMahmoudMOD/Event-Planning-System" target="_blank" class="about-btn scrollto">More About Us </a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>Our event planning system is designed to streamline the organization of events, whether it's corporate functions, weddings, or social gatherings. With a focus on seamless coordination and meticulous attention to detail, we ensure that every aspect of your event—from venue selection to guest management and budgeting—is handled with precision. Our goal is to bring your vision to life effortlessly, allowing you to enjoy your event.</p>
          </div>
          <div class="col-lg-6">
            <img src="assets/images/event-planner.jpg" alt="Home Page Img" class="w-100 border-round "  />
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Events Section
    ============================-->
    <section id="Events" class="fadeInUp">
      <div class="section-header">
        <h2>Events</h2>
      </div>

      <!-- If there is No Event -->
      <div *ngIf="eventList.length === 0" class="no-events-message">
        <h3>No events to display</h3>
        <p>There are currently no events available. Please check back later.</p>
        <app-add-event *ngIf="accountService.LoggedIn()"></app-add-event>
      </div>

      <p-carousel
          *ngIf="eventList.length > 0"
          [value]="eventList"
          [numVisible]="3"
          [numScroll]="3"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          autoplayInterval="50000">
          <ng-template let-event pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
              <div class="mb-3">
                <div class="position-relative mx-auto">
                  <img [src]="getEventImageUrl(event.eventImage)" [alt]="event.name" class="w-100 border-round "  />
                  <p-tag [value]="getEventTypeLabel(event.eventType)" [severity]="getSeverity(event.eventType)" class="position-absolute top-0 left-0 m-2 p-1" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"/>
                </div>
              </div>
              <div class="mb-3 font-medium fw-bold">
                {{ event.name }}
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="mt-0 font-semibold text-xl d-flex ">
                  <img class="locationImg" src="assets/images/location.png" alt="Event Location">
                  <h6>{{ event.location }}</h6>
                </div>
                <span>
                  <!-- <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" /> -->
                  <p-button icon="pi pi-info-circle" routerLink="/planner/eventdetails/{{event.id}}" styleClass="ml-2" title="View event details"/>
                </span>
              </div>
            </div>
          </ng-template>
      </p-carousel>
    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Sponsors</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="assets/images/home/sponsors/8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>F.A.Q</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <ul id="faq-list">
              <li>
                <a data-bs-toggle="collapse" class="collapsed" href="#faq1">How do I create a new account on the platform?<i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></a>
                <div id="faq1" class="collapse" data-parent="#faq-list">
                  <p>
                    To create a new account, click on the "Register" button on the home page. Fill in the required information, and then click "Submit." You will receive a confirmation email to verify your account.
                  </p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" href="#faq2" class="collapsed">What types of events can I create using this system?
                  <i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></a>
                <div id="faq2" class="collapse" data-parent="#faq-list">
                  <p>
                    Our platform supports a variety of event types, including weddings, conferences, parties, activities, and gatherings. When creating a new event, you can specify the type and provide detailed information such as the event name, description, location, dates, target audience, and maximum attendee count.
                  </p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" href="#faq3" class="collapsed">How can I manage my guest list for an event? <i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></a>
                <div id="faq3" class="collapse" data-parent="#faq-list">
                  <p>
                    After creating an event, you can manage your guest list by navigating to the event's Details page and selecting the "Invite" tab. Here, you can add or remove guests, update their information, and send invitations via email.
                  </p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" href="#faq4" class="collapsed">Can I update my event details after it has been created?<i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></a>
                <div id="faq4" class="collapse" data-parent="#faq-list">
                  <p>
                    Yes, you can update event details such as the event name, description, location, dates, target audience, and maximum attendee count at any time. Simply navigate to the event page and select the "Edit" option to make the necessary changes.
                  </p>
                </div>
              </li>
              <li>
                <a data-bs-toggle="collapse" href="#faq5" class="collapsed">How secure is my personal information on this platform? <i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle"></i></a>
                <div id="faq5" class="collapse" data-parent="#faq-list">
                  <p>
                    We take your privacy seriously. Our platform uses industry-standard security measures to protect your personal information. All data transmission is encrypted, and we adhere to strict privacy policies to ensure your information remains safe and confidential.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
    Footer
    ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="assets/images/logogreen.png" alt="TheEvenet">
            <p>Explore our efficient event planning system, tailored for seamless organization of corporate events, weddings, and social gatherings. From venue selection to guest coordination and budget management, we handle every detail to ensure your event is unforgettable. Trust us to bring your vision to life, while you focus on enjoying the moment.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#about">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/eventslist">Events</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/events">Calender</a></li>
              <li><i class="fa fa-angle-right"></i> <a routerLink="/profile/{{userId}}">Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              17 st. <br>
              Damietta, New Damietta<br>
              Egypt <br>
              <strong>Phone:</strong> +20 1007458070<br>
              <strong>Email:</strong> ahmedu3helal&#64;gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter" target="_blank" title="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.facebook.com/ahmed.helalah.3/" target="_blank" class="facebook" title="facebook"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/ahmed_yousry_helal/" class="instagram" target="_blank" title="instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="mailto:ahmedu3helal@gmail.com?subject=&body=Body%20of%20the%20email" target="_blank" class="google-plus" title="google-plus"><i class="fa-brands fa-google-plus-g"></i></a>
              <a href="https://www.linkedin.com/in/ahmed-yousry-helal/" target="_blank" class="linkedin" title="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/ahmed-yousry-helal/" target="_blank">ITI Mansoura Student PD Track Intake 44</a>
      </div>
    </div>
  </footer>

  </main>
