<!-- <p-table [value]="eventList" [paginator]="true" [rows]="3" [lazy]="true" [totalRecords]="total" (onLazyLoad)="loadEvents($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Event Name</th>
            <th>Event Desc</th>
            <th>Event Budget</th>
            <th>Location</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
        <tr>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.budget}}</td>
            <td>{{event.location}}</td>
        </tr>
    </ng-template>
</p-table> -->


<div class="container">
  <div class="main-content">
    <div class="header">
      <input type="text" class="search-bar custom-input" placeholder="Start typing to search for an Event" [(ngModel)]="searchQuery" (input)="onSearch()">
      <app-add-event (eventListUpdated)="onEventListUpdated()"></app-add-event>

    </div>
    <div class="event-list">
      <!-- If there is No Event -->
      <div *ngIf="eventList.length === 0" class="no-events-message">
        <h3>No events to display</h3>
        <p>There are currently no events available. Please check back later.</p>
      </div>

      <div *ngFor="let item of paginatedEventList; let i = index" class="event-item main-bg">
        <div class="event-details">
          <h3 class="subtitle">{{ item.name }}</h3>
          <div class="eventLocation">
            <img class="locationImg" src="assets/images/location.png" alt="Event Location">
            <p>{{ item.location }}</p>
          </div>
          <div class="eventDate">
            <div class="date">
              <p>Event Date:</p>
              <p>{{ item.eventDate.slice(0, 10) }}</p>
            </div>
            <div class="date">
              <p>Event Time:</p>
              <p>{{ item.eventDate.slice(11) }}</p>
            </div>
            <div class="date">
              <p>Event Type:</p>
              <p>{{ getEventTypeLabel(item.eventType) }}</p>
            </div>
          </div>
        </div>
        <button class="custom-btn btn-second h-25" routerLink="/planner/eventdetails/{{item.id}}">Details</button>
      </div>
    </div>
    <div class="flex justify-content-center">
      <p-paginator 
          (onPageChange)="onPageChange($event)" 
          [first]="first" 
          [rows]="rows" 
          [totalRecords]="filteredEventList.length" 
          />
  </div>
  </div>
</div>




