<button class="custom-btn edit-btn" (click)="showEditModal()">Edit</button>

<p-dialog
  header="Edit Event"
  [(visible)]="display"
  [responsive]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [modal]="true"
  class="edit-event-dialog">
  <ng-template pTemplate="content">
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()" class="p-fluid">

      <div class="p-field">
        <label for="name">Title<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="name"
          class="p-inputtext p-component custom-input"
          formControlName="name"
        />
        <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched" class="p-error">
          Title is required.
        </div>
      </div>

      <div class="p-field">
        <label for="description">Description<span class="text-danger"> *</span></label>
        <textarea
          id="description"
          class="p-inputtextarea p-component"
          formControlName="description"
          rows="3"
        ></textarea>
        <div *ngIf="editForm.get('description')?.invalid && editForm.get('description')?.touched" class="p-error">
          Description is required.
        </div>
      </div>

      <div class="p-field">
        <label for="attendanceNumber">Attendance Number</label>
        <input
          type="number"
          id="attendanceNumber"
          class="p-inputtext p-component custom-input"
          formControlName="attendanceNumber"
          (mousewheel)="onScroll($event)"

        />
        <div *ngIf="editForm.get('attendanceNumber')?.invalid && editForm.get('attendanceNumber')?.touched" class="p-error">
          Attendance number is required.
        </div>
      </div>

      <div class="p-field">
        <label for="location">Location<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="location"
          class="p-inputtext p-component custom-input"
          formControlName="location"
        />
        <div *ngIf="editForm.get('location')?.invalid && editForm.get('location')?.touched" class="p-error">
          Location is required.
        </div>
      </div>

      <div class="p-field">
        <label for="googleMapsLocation">Google Location</label>
        <input
          type="text"
          id="googleMapsLocation"
          class="p-inputtext p-component custom-input"
          formControlName="googleMapsLocation"
        />
        <!-- <div *ngIf="editForm.get('googleMapsLocation')?.invalid && editForm.get('googleMapsLocation')?.touched" class="p-error">
          Google maps location is required.
        </div> -->
      </div>

      <div class="p-field">
        <label for="budget">Budget</label>
        <input
          type="number"
          id="budget"
          class="p-inputtext p-component custom-input"
          formControlName="budget"
          (mousewheel)="onScroll($event)"

        />
        <div *ngIf="editForm.get('budget')?.invalid && editForm.get('budget')?.touched" class="p-error">
          Budget is required.
        </div>
      </div>

      <div class="p-field">
        <label for="eventDate">Start Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="eventDate"
          formControlName="eventDate"
          [showIcon]="true"
          size="small"
          (mousewheel)="onScroll($event)"

        ></p-calendar>
        <div *ngIf="editForm.get('eventDate')?.invalid && editForm.get('eventDate')?.touched" class="p-error">
          Start date is required.
        </div>
      </div>

      <div class="p-field">
        <label for="endDate">End Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="endDate"
          formControlName="endDate"
          [showIcon]="true"
          [minDate]="initialStartDate"
          (mousewheel)="onScroll($event)"

        ></p-calendar>
        <div *ngIf="editForm.get('endDate')?.invalid && editForm.get('endDate')?.touched" class="p-error">
          End date is required.
        </div>
      </div>

      <hr>
      <div class="p-dialog-footer">
        
        <button
        type="submit"
        label=""
        class="custom-btn add-btn w-100 mt-2"
        icon="pi pi-check"
        severity="success"
        size="small"
        >Save Changes</button>
        <button
          label="Cancel"
          icon="pi pi-times"
          severity="secondary"
          (click)="hideEditModal()"
          class="custom-btn delete-btn w-100 mt-2"
          severity="secondary"
          size="small"
        >Cancel</button>
      </div>
    </form>
  </ng-template>
</p-dialog>
