<p-button (click)="showEditModal()" label="Update Profile" styleClass="custom-button"></p-button>

<p-dialog header="Edit Profile" [(visible)]="displayEditModal" [style]="{ width: '30rem' }" modal="true">
  <span class="p-text-secondary block mb-3 modal-description">Update your information.</span>
  <div class="form-group">
    <label for="fName" class="form-label">First Name</label>
    <input pInputText id="fName" [(ngModel)]="profile.fName" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="lName" class="form-label">Last Name</label>
    <input pInputText id="lName" [(ngModel)]="profile.lName" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input pInputText id="email" [(ngModel)]="profile.email" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input pInputText id="phoneNumber" [(ngModel)]="profile.phoneNumber" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="street" class="form-label">Street</label>
    <input pInputText id="street" [(ngModel)]="profile.street" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="city" class="form-label">City</label>
    <input pInputText id="city" [(ngModel)]="profile.city" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="region" class="form-label">Region</label>
    <input pInputText id="region" [(ngModel)]="profile.region" class="form-input" autocomplete="off" />
  </div>
  <div class="form-group">
    <label for="postalCode" class="form-label">Postal Code</label>
    <input pInputText id="postalCode" [(ngModel)]="profile.postalCode" class="form-input" autocomplete="off" />
  </div>
  <div class="modal-footer">
    <p-button label="Cancel" severity="secondary" (click)="hideEditModal()" styleClass="modal-cancel-button"></p-button>
    <p-button label="Save" (click)="updateProfile(profile)" styleClass="modal-save-button"></p-button>
  </div>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
