<p-button
  label="New To-Do List"
  [text]="true"
  severity="success"
  [raised]="true"
  (click)="displayAddModal()"
></p-button>

<p-dialog
  header="Add To-Do List"
  [(visible)]="display"
  [style]="{width: '50vw'}"
  [modal]="true"
  [resizable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <form [formGroup]="addToDoList" (ngSubmit)="addTodo()">
      <div class="p-fluid">
        <div class="p-field p-centre">
          <div *ngIf="err" class="p-error">
            {{ err || 'An error occurred while adding the to-do item. Please try again.' }}
          </div>
        </div>
        <div class="p-field">
          <label for="title">Title<span class="text-danger"> *</span></label>
          <input 
            type="text" 
            id="title" 
            class="p-inputtext p-component" 
            formControlName="title" 
            placeholder="Enter To-Do List title"
          />
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('required')" class="text-danger">Title is required</span>
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('minlength')" class="text-danger">Title must be at least 3 characters</span>
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('maxlength')" class="text-danger">Title cannot exceed 40 characters</span>
        </div>

        <div class="p-field">
          <label for="description">Description <span class="text-danger">*</span></label>
          <textarea 
            id="description" 
            class="p-inputtextarea p-component" 
            formControlName="description" 
            rows="3" 
            placeholder="Enter To-Do List description"
          ></textarea>
          <span *ngIf="submitted && addToDoList.get('description')?.hasError('required')" class="text-danger">Description is required</span>
          <span *ngIf="submitted && addToDoList.get('description')?.hasError('minlength')" class="text-danger">Description must be at least 3 characters</span>
        </div>

        <div class="p-field">
          <label for="deadLineTime">Deadline<span class="text-danger"> *</span></label>
          <p-calendar 
            id="deadLineTime" 
            formControlName="deadLineTime" 
            dateFormat="yy-mm-dd" 
            [showTime]="true" 
            hourFormat="24" 
            [showIcon]="true"
            [touchUI]="false" 
            [appendTo]="'body'" 
            [minDate]="minDate"
            [maxDate]="eventDeadLine"
          ></p-calendar>
          <span *ngIf="submitted && addToDoList.get('deadLineTime')?.hasError('required')" class="text-danger">Deadline is required</span>
          <span *ngIf="addToDoList.get('deadLineTime')?.errors?.['pastDate']" class="text-danger">The deadline date cannot be in the past.</span>
        </div>

        <div class="p-field">
          <label for="toDoListBudget">Budget<span class="text-danger"> *</span></label>
          <input 
            type="number" 
            id="toDoListBudget" 
            class="p-inputtext p-component" 
            formControlName="toDoListBudget" 
            placeholder="Enter To-Do List budget"
          />
          <span *ngIf="submitted && addToDoList.get('toDoListBudget')?.hasError('required')" class="text-danger">Budget is required</span>
          <span *ngIf="addToDoList.get('toDoListBudget')?.errors?.['budgetExceeded']" class="text-danger">The to-do list budget is higher than the event budget. Please enter a lower budget.</span>
        </div>
        <hr>
        <div class="p-d-flex p-jc-end p-mt-3">
          <button 
            pButton 
            type="submit" 
            label="Add" 
            class="p-button-success"
            [disabled]="addToDoList.invalid" 
          ></button>
          <button 
            pButton 
            type="button" 
            label="Cancel" 
            class="p-button-text p-mr-2" 
            (click)="hideAddModal()"
          ></button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
