<button class="custom-btn add-btn" (click)="displayAddModal()">New To-Do List</button>

<p-dialog
  header="Add To-Do List"
  [(visible)]="display"
  [style]="{width: '50vw'}"
  [modal]="true"
  [resizable]="false"
  [baseZIndex]="10000"
>
  <ng-template pTemplate="content">
    <form [formGroup]="addToDoList" (ngSubmit)="addTodo()">
      <div class="p-fluid">
        <div class="p-field p-centre">
          <div *ngIf="err" class="p-error error-title">
            {{err ||'An error occurred while adding the to-do item. Please try again.' }}
          </div>
        </div>
        <div class="p-field">
          <label for="title">Title<span class="text-danger"> *</span></label>
          <input 
            type="text" 
            id="title" 
            class="p-inputtext p-component custom-input" 
            formControlName="title" 
            placeholder="Enter To-Do List title"
          />
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('required')" class="error-title">Title is required</span>
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('minlength')" class="error-title">Title must be at least 3 characters</span>
          <span *ngIf="submitted && addToDoList.get('title')?.hasError('maxlength')" class="error-title">Title cannot exceed 40 characters</span>
        </div>

        <div class="p-field">
          <label for="description">Description <span class="error-title">*</span></label>
          <textarea 
            id="description" 
            class="p-inputtextarea p-component" 
            formControlName="description" 
            rows="3" 
            placeholder="Enter To-Do List description"
          ></textarea>
          <span *ngIf="submitted && addToDoList.get('description')?.hasError('required')" class="error-title">Description is required</span>
          <span *ngIf="submitted && addToDoList.get('description')?.hasError('minlength')" class="error-title">Description must be at least 3 characters</span>
        </div>

        <div class="p-field">
          <label for="deadLineTime">Deadline<span class="error-title"> *</span></label>
          <p-calendar 
            id="deadLineTime" 
            formControlName="deadLineTime" 
            dateFormat="yy-mm-dd" 
            [showTime]="true" 
            hourFormat="24" 
            [showIcon]="true"
            [touchUI]="false" 
            [appendTo]="'body'" 
            [minDate]="minDate"
            [maxDate]="eventDeadLine"
          ></p-calendar>
          <span class="error-title" *ngIf="submitted && addToDoList.get('deadLineTime')?.hasError('required')" >Deadline is required</span>
          <span class="error-title" *ngIf="addToDoList.get('deadLineTime')?.errors?.['pastDate']">The deadline date cannot be in the past.</span>
        </div>

        <div class="p-field">
          <label for="toDoListBudget">Budget<span class="text-danger"> *</span></label>
          <input 
            type="number" 
            id="toDoListBudget" 
            class="p-inputtext p-component custom-input" 
            formControlName="toDoListBudget" 
            placeholder="Enter To-Do List budget"
          />
          <span class="error-title" *ngIf="addToDoList.get('toDoListBudget')?.errors?.['budgetExceeded']">The to-do list budget is higher than the event budget. Please enter a lower budget.</span>
          <div *ngIf="submitted && addToDoList.get('toDoListBudget')?.invalid" class="p-error">
            Budget is required and must be a positive number.
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <button 
            type="submit"  
            class="p-button-success custom-btn add-btn col mx-3"
            [disabled]="addToDoList.invalid" 
          >Add</button>
          <button 
            type="button" 
            class="p-button-text p-mr-2 custom-btn delete-btn col mx-3" 
            (click)="hideAddModal()"
          >Cancel</button>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
