<div class="d-flex justify-content-center align-content-center" style="height: 90vh;">
    <div class="d-flex justify-content-center align-items-center">
        <p-card>
            <div class="mb-3">
            <img src="../../../assets/emailicon.png" class="img-fluid" style="height: 80px;">
            </div>
            <h3>
                Please Confirm Your Email
            </h3>
            <p class="m-3">
                You are almost there! We have sent you an email to confirm your email address.
            </p>
            <p class="m-2">
                just click the link in the email to complete your sign up.<br><br>
                 If you did not receive the email, please <b> check your spam folder </b> or request another email.
            </p>
            <button pButton type="button" label="Resend Verification Email" class="mt-3"></button>
        </p-card>
    </div>
</div>
