<div class="main-bg d-flex justify-content-center align-content-center" style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center">
        <p-card>
            <div class="mb-3">
            <img src="../../../assets/images/emailicon.png" class="img-fluid" style="height: 80px;">
            </div>
            <h3 class="custom-main-title-red">
                Please Confirm Your Email
            </h3>
            <p class="m-3 subtitle">
                You are almost there! We have sent you an email to confirm your email address.
            </p>
            <p class="m-2 subtitle">
                just click the link in the email to complete your sign up.<br><br>
                 If you did not receive the email, please <b> check your spam folder </b>
            </p>
        </p-card>
    </div>
</div>
