<!-- navbar.component.html -->

<nav class="navbar custom-navbar navbar-expand-lg" [ngClass]="{'fixed': isFixed}">
  <div class="container-fluid ps-5 pe-5">
    <!-- <a class="navbar-brand" routerLink="/events">EPP</a> -->
    <img [src]="logoImage" alt="logo" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/eventslist']">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile/{{userId}}">Profile</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li *ngIf="accountService.LoggedIn()" class="nav-item dropdown d-flex justify-content-end align-items-center">
          <img [src]="profile.image ? profile.image : defaultImage" alt="Profile Picture" class="profile-picture">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ profile.fName + " " + profile.lName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()" href="#">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!accountService.LoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
        <li *ngIf="!accountService.LoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
