<!-- add-event.component.html -->

<button class="custom-btn add-btn" (click)="showAddModal()">New Event</button>

<p-dialog
  header="Add Event"
  [(visible)]="display"
  [responsive]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [modal]="true"
  class="add-event-dialog"
>
  <ng-template pTemplate="content">
    <form [formGroup]="addEventForm" (ngSubmit)="addEvent()" class="p-fluid">
      <div *ngIf="errorMessage" class="p-mb-3 error-title">
        {{ errorMessage }}
      </div>
      
      <div class="p-field">
        <label for="name">Title<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="name"
          class="p-inputtext p-component custom-input"
          formControlName="name"
          placeholder="Enter event name"
        />
        <div *ngIf="(addEventForm.get('name')?.invalid && addEventForm.get('name')?.touched) || (submitted && addEventForm.get('name')?.hasError('minlength'))" class="error-title">
          Title is required and must be at least 3 characters.
        </div>
      </div>

      <div class="p-field">
        <label for="visibility">Visibility</label>
        <div class="p-formgroup-inline">
          <mat-radio-group formControlName="isPrivate">
            <mat-radio-button value="false">Public</mat-radio-button>
            <mat-radio-button value="true">Private</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="p-field">
        <label for="description">Description<span class="text-danger"> *</span></label>
        <textarea
          id="description"
          class="p-inputtextarea p-component custom-input"
          formControlName="description"
          rows="3"
          placeholder="Enter event description"
        ></textarea>
        <div *ngIf="(addEventForm.get('description')?.invalid && addEventForm.get('description')?.touched) || (submitted && addEventForm.get('description')?.hasError('minlength'))" class="p-error error-title">
          Description is required and must be at least 3 characters long.
        </div>
      </div>

      <div class="p-field">
        <label for="eventDate">Start Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="eventDate"
          formControlName="eventDate"
          [showTime]="true"
          hourFormat="12"
          [showIcon]="true"
          [minDate]="minDate"
          (mousewheel)="onScroll($event)"
        ></p-calendar>
        <div *ngIf="addEventForm.get('eventDate')?.invalid && addEventForm.get('eventDate')?.touched" class="error-title">
          Start date is required.
        </div>
      </div>

      <div class="p-field">
        <label for="endDate">End Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="endDate"
          formControlName="endDate"
          hourFormat="12"
          [showIcon]="true"
          [showTime]="true"
          [minDate]="minDate"
          (mousewheel)="onScroll($event)"
        ></p-calendar>
        <div *ngIf="addEventForm.get('endDate')?.invalid && addEventForm.get('endDate')?.touched" class="p-error">
          End date is required and must be at least one hour after the start date.
        </div>
      </div>
      
      <div class="p-field">
        <label for="attendanceNumber">Attendance Number</label>
        <input
          type="number"
          id="attendanceNumber"
          class="p-inputtext p-component custom-input"
          formControlName="attendanceNumber"
          placeholder="Enter attendance number"
          (mousewheel)="onScroll($event)"
        />
        <div *ngIf="addEventForm.get('attendanceNumber')?.invalid && addEventForm.get('attendanceNumber')?.touched" class="error-title">
          Attendance number is required and must be a non-negative number.
        </div>
      </div>

      <div class="p-field">
        <label for="budget">Budget</label>
        <input
          type="number"
          id="budget"
          class="p-inputtext p-component custom-input"
          formControlName="budget"
          placeholder="Enter event budget"
          (mousewheel)="onScroll($event)"
        />
        <div *ngIf="addEventForm.get('budget')?.invalid && addEventForm.get('budget')?.touched" class="error-title">
          Budget is required.
        </div>
      </div>

      <div class="p-field">
        <label for="eventType">Event Type<span class="text-danger"> *</span></label>
        <select formControlName="eventType" class="form-select custom-select" name="Types" id="Type" required>
          <option value="">Select Event Type</option>
          <option *ngFor="let event of Types" [value]="event.id">{{ event.name }}</option>
        </select>
        <div *ngIf="addEventForm.get('eventType')?.invalid && addEventForm.get('eventType')?.touched" class="error-title">
          Event Type is required.
        </div>
      </div>

      <div class="p-field">
        <label for="location">Location<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="location"
          class="p-inputtext p-component custom-input"
          formControlName="location"
          placeholder="Enter event location"
        />
        <div *ngIf="addEventForm.get('location')?.invalid && addEventForm.get('location')?.touched" class="error-title">
          Location is required and must be at least 3 characters long.
        </div>
      </div>

      <div class="p-field">
        <label for="googleMapsLocation">Google Maps Location</label>
        <input
          type="text"
          id="googleMapsLocation"
          class="p-inputtext p-component custom-input"
          formControlName="googleMapsLocation"
          placeholder="Enter Google Maps location"
        />
        <div *ngIf="addEventForm.get('googleMapsLocation')?.invalid && addEventForm.get('googleMapsLocation')?.touched" class="error-title">
          Google Maps location must be at least 3 characters long.
        </div>
      </div>

      <div class="p-dialog-footer mt-2">
        <button
          class="custom-btn delete-btn col mx-3"
          severity="secondary"
          (click)="hideAddModal()"
        >Cancel <i class="pi pi-times ms-3"></i></button>
        <button
          type="submit"
          [disabled]="addEventForm.invalid"
          class="custom-btn add-btn col mx-3"
        >Add Event</button>
      </div>
    </form>
  </ng-template>
</p-dialog>
