<p-button
  icon="pi pi-plus"
  label="Add Event"
  class="p-button-outlined p-button-rounded p-button-primary"
  (click)="showAddModal()"
></p-button>

<p-dialog
  header="Add Event"
  [(visible)]="display"
  [responsive]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [modal]="true"
  class="add-event-dialog"
>
  <ng-template pTemplate="content">
    <form [formGroup]="addEventForm" (ngSubmit)="addEvent()" class="p-fluid">
      <div class="p-field">
        <label for="name">Title<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="name"
          class="p-inputtext p-component"
          formControlName="name"
          placeholder="Enter event name"
        />
        <div *ngIf="addEventForm.get('name')?.invalid && addEventForm.get('name')?.touched" class="p-error">
          Title is required.
        </div>
      </div>

      <div class="p-field">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="p-inputtextarea p-component"
          formControlName="description"
          rows="3"
          placeholder="Enter event description"
        ></textarea>
        <div *ngIf="addEventForm.get('description')?.invalid && addEventForm.get('description')?.touched" class="p-error">
          Description is required.
        </div>
      </div>

      <div class="p-field">
        <label for="eventDate">Start Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="eventDate"
          formControlName="eventDate"
          dateFormat="yy-mm-dd"
          [showTime]="true"
          hourFormat="24"
          [showIcon]="true"
          [minDate]="minDate"
        />
        <div *ngIf="addEventForm.get('eventDate')?.invalid && addEventForm.get('eventDate')?.touched" class="p-error">
          Start date is required.
        </div>
      </div>
      
      <div class="p-field">
        <label for="endDate">End Date<span class="text-danger"> *</span></label>
        <p-calendar
          id="endDate"
          formControlName="endDate"
          [showTime]="true"
          hourFormat="24"
          [showIcon]="true"
          [minDate]="addEventForm.get('eventDate')?.value || minDate"
          [showOtherMonths]="true"
          [selectOtherMonths]="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          
        />
        <div *ngIf="addEventForm.get('endDate')?.invalid && addEventForm.get('endDate')?.touched" class="p-error">
          End date is required.
        </div>
      </div>
      

      <div class="p-field">
        <label for="attendanceNumber">Attendance Number</label>
        <input
          type="number"
          id="attendanceNumber"
          class="p-inputtext p-component"
          formControlName="attendanceNumber"
          placeholder="Enter attendance number"
        />
        <div *ngIf="addEventForm.get('attendanceNumber')?.invalid && addEventForm.get('attendanceNumber')?.touched" class="p-error">
          Attendance number is required.
        </div>
      </div>

      <div class="p-field">
        <label for="budget">Budget</label>
        <input
          type="number"
          id="budget"
          class="p-inputtext p-component"
          formControlName="budget"
          placeholder="Enter event budget"
        />
        <div *ngIf="addEventForm.get('budget')?.invalid && addEventForm.get('budget')?.touched" class="p-error">
          Budget is required.
        </div>
      </div>

      <div class="p-field">
        <label for="eventType">Event Type<span class="text-danger"> *</span></label>
        <select formControlName="eventType" class="form-select" name="Types" id="Type" required>
          <option value="">Select Event Type</option>
          <option *ngFor="let event of Types" [value]="event.id | number">{{event.name}}</option>
        </select>
        <div *ngIf="addEventForm.get('eventType')?.invalid && addEventForm.get('eventType')?.touched" class="p-error">
          Event Type is required.
        </div>
      </div>

      <div class="p-field">
        <label for="location">Location<span class="text-danger"> *</span></label>
        <input
          type="text"
          id="location"
          class="p-inputtext p-component"
          formControlName="location"
          placeholder="Enter event location"
        />
        <div *ngIf="addEventForm.get('location')?.invalid && addEventForm.get('location')?.touched" class="p-error">
          Location is required.
        </div>
      </div>

      <div class="p-field">
        <label for="googleMapsLocation">Google Maps Location</label>
        <input
          type="text"
          id="googleMapsLocation"
          class="p-inputtext p-component"
          formControlName="googleMapsLocation"
          placeholder="Enter Google Maps location"
        />
        <div *ngIf="addEventForm.get('googleMapsLocation')?.invalid && addEventForm.get('googleMapsLocation')?.touched" class="p-error">
          Google Maps location is required.
        </div>
      </div>

      <div class="p-dialog-footer">
        <p-button
          label="Cancel"
          icon="pi pi-times"
          severity="secondary"
          (click)="hideAddModal()"
        ></p-button>
        <p-button
          type="submit"
          label="Add Event"
          icon="pi pi-check"
          class="p-button-primary"
        ></p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>
