/* Custom Sidebar Styles */
::ng-deep .custom-sidebar .p-sidebar-mask {
    background-color: transparent;
    pointer-events: none; /* Ensure clicks pass through the mask */
}

::ng-deep .custom-sidebar .p-sidebar {
    pointer-events: auto; /* Ensure the sidebar itself is still interactive */
    min-width: 250px; /* Set your desired minimum width */
    background-color: rgba(255, 255, 255, 0.8); /* Set the background color to white with 80% opacity */
    color: #000; /* Ensure the text is readable */
}

/* Ensure links and other text inside the sidebar are readable */
::ng-deep .custom-sidebar .link-button {
    color: #000;
}
