<div class="event-details-comp">
  <div class="event-container">
    <div class="event-details">
      <p-card class="blur-bg-card">
        <div class="p-card-body">
          <img
            [src]="
              eventDetails?.eventImages?.length > 0
                ? eventDetails.eventImages[0]
                : defaultImage
            "
            alt="Card"
            class="card-image"
          />
        </div>
      </p-card>
      <div class="box-parent mt-1 p-2">
        <div class="box-date">
          <div></div>
          <p>{{ eventDetails.eventDate | date : "dd" }}</p>
        </div>
        <div class="text-start p-2 pt-0 text-wrap">
          <p
            style="color: #f3425f; font-size: 1.1rem; font-weight: bold"
            class="mt-3 mb-0"
          >
            {{ eventDetails.eventDate | date : "EEEE YYYY-MM-dd hh:mm OOOO" }}
          </p>
          <p class="mt-2 fw-bold text-secondary mb-0">
            {{ eventDetails.name }} - {{ eventDetails.location }}
          </p>
          <span class="text-secondary fw-light"
            >{{ eventDetails.location }}
          </span>
        </div>
        <hr class="mb-2" />
        <div class="d-flex justify-content-between">
          <div class="">
            <!-- <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
                        optionValue="value" /> -->
                        <a class="link-tab fw-bold" 
                        [ngClass]="{'text-info blue-nav': activeLink === 'about'}" 
                        (click)="setActiveLink('about')">About</a>
                        <a class="link-tab fw-bold" 
                        [ngClass]="{'text-info blue-nav': activeLink === 'todolist'}" 
                        (click)="setActiveLink('todolist')">ToDo List</a>
                        <a class="link-tab fw-bold" 
                        [ngClass]="{'text-info blue-nav': activeLink === 'schedule'}" 
                        (click)="setActiveLink('schedule')">Schedule</a>
                      
          </div>
          @if(checkdate()){
          <div class="">
            <!-- <p-button
              label="Edit"
              [text]="true"
              severity="help"
              [raised]="true"
            /> -->
            <app-edit-event></app-edit-event>
            <p-button
              label="Delete"
              [text]="true"
              severity="danger"
              [raised]="true"
              (onClick)="deleteEvent()"
            />
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- this is the about section -->
@if (activeLink=="about") {
  <div class="text-start main">
    <div class="d-flex justify-content-between">
      <!-- two cloumns -->
      <div class="two-col">
        <!-- Details -->
        <div class="block">
          <h6 class="mb-2">Details</h6>
          <p style="font-size: 0.9rem">
            <i class="pi pi-wallet me-2"></i>
            <span class="text-success fw-bold">{{ eventDetails.budget }}</span>
            Dollar
          </p>
          <p style="font-size: 0.9rem">
            <i class="pi pi-user me-2"></i>
            Event Type :
            <a class="craeted-by-link">{{
              getEventTypeString(eventDetails.eventType)
            }}</a>
          </p>
          <!-- location -->
          <p style="font-size: 0.9rem">
            <i class="pi pi-map-marker me-2"></i>
            <a href="#" class="">{{ eventDetails.location }}</a>
          </p>
          <!-- Duration -->

          <p style="font-size: 0.9rem">
            <i class="pi pi-clock me-2"></i>
            Duration: 2 days
          </p>
          <!-- status -->
          <p style="font-size: 0.9rem">
            <i class="pi pi-globe me-2"></i>
            Public: Anyone on or off Our App
          </p>
          <div class="contain">
            <p-scrollPanel
              class="description"
              [style]="{ width: '100%', height: '120px' }"
            >
              <p class="fw-light">
                {{ eventDetails.description }}
              </p>
            </p-scrollPanel>
          </div>
        </div>
        <!-- end of the first block -->
        <div class="block">
          <div>
            <p-galleria
              [value]="eventDetails.eventImages"
              [showItemNavigators]="true"
              [autoPlay]="true"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
              [numVisible]="5"
              [showIndicators]="true"
              [changeItemOnIndicatorHover]="true"
              [showThumbnails]="false"
              [containerStyle]="{ 'max-width': 'auto' }"
            >
              <ng-template pTemplate="item" let-item>
                <p-image
                  [src]="item"
                  alt="Image"
                  width="500"
                  height="300"
                  [preview]="true"
                />
              </ng-template>
            </p-galleria>
            <small class="fw-light fst-italic">
              <div class="mt-1"> Formats Premitied are .jpg , .png or .jpeg (Max Size : 1 MB) </div>
          </small>
          <p-fileUpload 
          chooseLabel="Choose" 
          chooseIcon="pi pi-upload"
          mode="advanced"
          name="image"  
          uploadLabel="Upload"
          cancelLabel="Clear"
          accept=".jpg,.png,.jpeg" 
          maxFileSize="1000000" 
           [customUpload]="true"
            (uploadHandler)="onUpload($event)"
          >
           <ng-template pTemplate="content">
        </ng-template>
          </p-fileUpload>
          </div>
        </div>
        <!-- end the carsol block -->
      </div>
      <!-- the seconed columns -->
      <div class="two-col">
        <div class="block">
          <h6>Guests</h6>
          <div class="status-container">
            <div class="status-item">
              <span class="status-count text-info">{{
                eventDetails.attendanceNumber
              }}</span>
              <span class="status-label">Capacity</span>
            </div>
            <div class="status-item">
              <span class="status-count text-success">{{
                eventDetails?.emails?.length
              }}</span>
              <span class="status-label">Email Sent</span>
            </div>
          </div>
          <hr />
          <div class="mt-4">
            <h6 class="mb-3">People Who will Attend</h6>
            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
              @if(eventDetails?.emails?.length > 0){
              <p *ngFor="let currentEmail of eventDetails.emails">
                <p-chip label="{{ currentEmail.email }}" icon="pi pi-at" />
              </p>
              }
            </p-scrollPanel>
            @if(checkdate()){
            <app-add-emails></app-add-emails>
            }
          </div>
        </div>
        <!-- end of Emails Block -->
        <!-- new block Location -->
        <div class="block" (click)="log()">
          <div *ngIf="eventDetails.googleMapsLocation != null">
            <iframe
              [src]="mapsURL | safe"
              width="100%"
              height="315"
              frameborder="0"
              allowfullscreen
              webkitallowfullscreen
              mozallowfullscreen
            >
            </iframe>
            <!-- <div id="map" style="width: 100%; height: 315px"></div> -->
          </div>
          <div class="mt-3">
            <!-- <h5>{{ eventDetails.googleMapsLocation }}</h5> -->
            <p>{{ eventDetails.location }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}

  <!-- this is the todo list section -->
@if (activeLink=="todolist") {
  <div class="text-start main">
    <div class="d-flex justify-content-between">
      <div class="two-col">
        <div class="block">
          <h6 class="mb-2">To Do List</h6>
          <div class="mt-4">
            <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
              <p *ngFor="let todo of eventDetails.todoList">
                <p-chip label="{{ todo }}" icon="pi pi-check" />
              </p>
            </p-scrollPanel>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (activeLink=="schedule"){
  <app-events-schedule [readonly]="checkEndDate()"></app-events-schedule>
}

</div>

