.profile-container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px;
}


.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.change-cover-button {
  background-color: #ffffff;
  border: none;
  color: #3345a1;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat {
  text-align: center;
}

.public-profile-link {
  text-align: center;
  margin-top: 20px;
}

.public-profile-link a {
  text-decoration: none;
  color: #3345a1;
}

.profile-settings {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
}

.account-details {
  text-decoration: underline;
  color: #3345a1;
  margin: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  flex: 1;
  font-weight: bold;
  color: #555;
  text-align: left;
}

.update-button {
  grid-column: span 2;
  background-color: #3345a1;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
